  .name {
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;

  }

  .address {
    text-align: center;
    margin-top: 30px;
  }

  .status {
    position: absolute;
    top: 50px; 
    right: 10px;
  }

  .fee-status {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .subject {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .name,
  .address,
  .status,
  .fee-status,
  .subject {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .scroll {
    animation: scrollText linear infinite;
  }

  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }