.card-container {
  display: flex;
  gap: 20px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
}


.card {
  flex: 1;
  background-color: #fff;
  padding: inherit;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover,
.card:active {
  box-shadow: 0 4px 8px rgb(43, 138, 186);
}

.datepicker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.datepicker-wrapper {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #020101;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.datepicker-wrapper .react-datepicker__input-container input {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.datepicker-wrapper .react-datepicker__input-container input:focus {
  border-color: rgb(43, 138, 186);
}

.datepicker-wrapper .react-datepicker {
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.datepicker-wrapper .react-datepicker__header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dddddd;
}

.datepicker-wrapper .react-datepicker__day--selected,
.datepicker-wrapper .react-datepicker__day--keyboard-selected {
  background-color: rgb(43, 138, 186);
  color: #ffffff;
  border-radius: 50%;
}

.datepicker-wrapper .react-datepicker__day:hover {
  background-color: rgb(43, 138, 186);
}

.dashBoardCardHeader {
  background-color: rgb(127, 170, 192);
  height: 40px;
  padding: 10px;
}

.dasboardCardItems {
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 10px;
}

.total {
  background-color: rgb(213, 224, 231) !important;
}

.active {
  background-color: rgb(228, 245, 228);
}

.inactive {
  background-color: rgb(245, 226, 226);
}
.headNotification{
  margin-top: -35px;
}