.login-box {
    
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
  }
  
  .login-box input {
    width: 100%;
    padding: 8px; 
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

   .create-account{
    margin-top: 10px;
    font-size: 14px;
    color: blue;
    cursor: pointer;
    text-align: start;
    
  }
  
  .forgot-password {
    margin-top: -14px;
    font-size: 14px;
    color: blue;
    cursor: pointer;
    text-align: end;
  }
  
  .login-box button {
    width: 50%;
    padding: 10px; 
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(43, 138, 186);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .body-img {
    display: block;
  margin: 60px auto 20px;
  }

.create-account:focus,
.create-account:active,
.forgot-password:focus,
.forgot-password:active {
  outline: none !important; 
  box-shadow: none !important; 
}