.login-box {
    
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
  }
  
  .login-box input {
    width: 95%;
    padding: 8px; 
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

   .create-account{
    margin-top: 10px;
    font-size: 14px;
    color:rgb(43, 138, 186);
    cursor: pointer;
    text-align: start;
    
  }
  
  .forgot-password {
    margin-top: -14px;
    font-size: 14px;
    color: blue;
    cursor: pointer;
    text-align: end;
  }
  
  .login-box button {
    width: 50%;
    padding: 10px; 
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(43, 138, 186);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .body-img {
    /* display: flex;
    flex-direction: column;
    width: 320px; */
    width: 320px;
    border-radius: 50%; /* Make the image circular */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */
    transform: rotateY(30deg); /* Rotate the image along the Y-axis */
    padding-top: 10px;
    padding-bottom: 50px;

  }

.create-account:focus,
.create-account:active,
.forgot-password:focus,
.forgot-password:active {
  outline: none !important; 
  box-shadow: none !important; 
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input input {
  flex: 1;
  padding-right: 200px;
}

.password-input i {
  position: absolute;
  top: 50%;
  right: 5px; 
  transform: translateY(-50%);
  cursor: pointer;
}

