.myWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.myPadding-all {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 350px;
  overflow-y: hidden;
  min-height: fit-content;
  max-height: max-content;
}



.myInput-field {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}


.body button {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white; /* Button color changed to white */
  color: rgb(43, 138, 186); /* Text color changed to blue */
  font-weight: bold;
  cursor: pointer;
}
.errorText {
  color: red;
  margin-top: 10px;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3; /* Light gray border */
  border-top: 4px solid #3498db; /* Blue border for loader animation */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Apply spin animation */
  background-color: rgba(48, 142, 155, 0.968); /* Blue background */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



