  .padding-all {
    padding: 10px; 
  }
  
.header {
  background-color: rgb(43, 138, 186);
  color: white;
  padding: 10px;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 30px;
}


.body {
  flex: 1;
  padding: 50px 20px 20px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer {
  background-color: rgb(43, 138, 186);
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3; /* Light gray border */
  border-top: 4px solid #3498db; /* Blue border for loader animation */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Apply spin animation */
  background-color: rgba(48, 142, 155, 0.968); /* Blue background */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    


@media screen and (max-width: 768px) {
  .menu-button {
    margin-right: -50px;
  }
}

.mainFooter {
background-color: rgb(43, 138, 186);
color: white;
padding: 10px ;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 30px;
display: flex;
justify-content: space-around;
}

.footer > svg {
  cursor: pointer;
}
