.input-field {
  position: relative;
  margin-bottom: 30px; /* Increase this value to add more space */
}

.input-field input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.input-field input:focus {
  border-color: #2b8aba;
  outline: none;
}

/* Float the label when the input has content or is focused */
.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label,
.input-field input:not([value=""]) + label,
.input-field input.not-empty + label {
  top: -10px;
  left: 10px;
  color: #2b8aba;
  font-size: 0.9em;
  background-color: white;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 5px;
  color: #999;
  font-size: 1em;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-field input:focus::placeholder {
  opacity: 0;
}
