.academic-performance{
  display: flex;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.attendance-overview,
.extracurricular-activities {
  margin: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.mainFooter {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.icon {
  text-align: center;
}

.icon .selected {
  color: #000000;
}

.label {
  display: block;
  margin-top: 5px;
}