.course-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.course-filter label {
  margin-right: 10px;
  font-size: 16px;
}

.course-filter select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.course-list {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 2%;
}

.course-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position:relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.course-info {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.course-info h3 {
  margin: 0;
  font-size: 18px;
  color: #444;
}

.progress-chart {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 0 auto;
}

.course-details {
  margin-top: 10px;
  text-align: center;
}

.course-details button {
  background: none;
  border: none;
  color: #3498db;
  cursor: pointer;
  font-size: 14px;
  width: 90%;
  transition: color 0.3s ease;
}

.expanded-section {
  margin-top: 15px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.expanded-section h4 {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.expanded-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.expanded-section ul li {
  margin-bottom: 5px;
}

.expanded-section ul li a {
  color: #3498db;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.expanded-section ul li a:hover {
  text-decoration: underline;
  color: #2c7cbf;
}

.course-filter {
  position: absolute;
  top: 70%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.no-courses, .no-completed-courses {
  text-align: center;
  color: #999;
  margin-top: 20px;
}

.no-courses p, .no-completed-courses p {
  margin-top: 10px;
  font-size: 16px;
}

.no-courses .faExclamationCircle, .no-completed-courses .faExclamationCircle {
  color: #3498db;
}
