.name {
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.address {
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.fee-status {
  position: absolute;
  bottom: 10px;
  left: 10px;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}